{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block navbar %}{% include 'navbar.html.twig' %}{% endblock %}
{% block body %}
<div class="container-fluid page-content">
    <div class="card container">
        <div class="card-header card-edit-header">
            Edit User
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <h5 class="card-title edit-card-title">Mettre a jour les infos de l'utilisateur</h5>
            {{ form_label(form.firstname, ' ') }}
                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'votre nom'} }) }}
                {{ form_label(form.lastname, ' ') }}
                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'votre prenom'} }) }}
            <br>
            <div class="card-footer text-muted">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="update" name="form-log-submit" />
            </div>
        </div>
        {{ form_end(form) }}
        <a href="{{ path("user_delete", {'id': user.id}) }}" style="text-decoration: none">
            <label>
                <input class="btn btn-outline-success btn-sm btn-block " value="supprimer"/>
            </label>
        </a>
        <a href="{{ path('user_index') }}">back to list</a>

    </div>
</div>
{% endblock %}
